<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"> Test</div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>



    <div class="main-col">
      <div class="main row">
        <div class="col-lg-6 col-md-6">
          <div class="card card-coin card-plain">
            <div class="card-header img-container">
              <img class="img-center img-fluid rounded-circle" src="assets/img/mitchelle-osok.jpg" />

              <h4 class="title">“Audentis Fortuna iuvat”</h4>
            </div>
            <div class="card-body">

            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <h1 class="profile-title text-left name">MITCHELLE AYORO OSOK</h1>

          <p class="profile-description">
            All Aboard!
            <br>
            Basically, I am a nerd with a passion for writing - policy, academic and creative.
            This space is for taping more into my creative and opinionated side though all three will forever be
            intertwined in my life and work.
            I have a big heart and a sharper brain that has so much to put out there in the universe so enjoy my
            portfolio
            in entirety.
            I hope my work leaves you thought provoked, emotionally charged and action driven to go out and be the best
            you can be in this land of the living.
          </p>
          <div class="btn-wrapper profile pt-3">
            <div>
              <accordion>
                <accordion-group (click)="toggleAccordion()" heading="Education and Certifications (Click to view)"
                  [isOpen]="isContentOpen">
                  <div>
                    <li>
                      Student of Politics,
                      <br>&nbsp;&nbsp;&nbsp;&nbsp; New York University,(From 2021)
                    </li>
                    <br>
                    <li>
                      Master of Science in Foreign Service (International Development),<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Certificate in African Studies,<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Georgetown University (2016).<br>
                    </li>
                    <br>
                    <li>
                      Bachelor of Economics,<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;University of Nairobi (2012)
                    </li>
                    <br>
                    <li>
                      Certified Public Accountant of Kenya, CPA(K),<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Instituted of Chartered Public Accountants of Kenya (ICPAK) (2017).
                    </li>
                  </div>
                </accordion-group>
              </accordion>
            </div>


          </div>
        </div>
        <div class="recent-posts-container">

          <div class="card">
            <div class="card-header">
              <span>Recent Posts</span>
            </div>
            <div class="card-body">
              <li class="recent-post-link"> <a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</a> <span>12/2/2022</span></li>
              <br>
              <li class="recent-post-link"> <a href="#"> qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius m </a> <span>11/2/2022</span></li>
              <br>
              <li class="recent-post-link"> <a href="#"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </a> <span>10/2/2022</span></li>
              <br>
          </div>
        </div>
      </div>


     

    </div>