.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  padding: 20px 0px 0px 20px;
}

.card.card-coin img {
  width: 250px !important;
  height: 300px !important;
  border-radius: 10% !important;
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.panel-heading{
  padding-bottom: 15px !important;
}

.accordion-toggle[aria-expanded="true"]:before {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
}

.accordion-toggle[aria-expanded="false"]:before {
  content: '\f106';
  font: normal normal normal 14px/1 FontAwesome;
}

.main-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 0px 0px 20px;
}



p.profile-description{
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  color: white;
  margin: 0px;

}

accordion-group {
  ::ng-deep {
    div {
      &>div.panel-heading.card-header.panel-enabled {
        background-color: rgba(52, 58, 64, 0.15); // change the background of every accordion heading
        padding-bottom: 10px;

        .btn-link {
          color: rgb(255, 255, 255); // change the accordion heading buttons style
        }
      }

      &>div.panel-collapse.collapse.in.show>div {
        background-color: hsla(210, 10%, 83%, 0.10); // change the expanded content style
      }
    }
  }
}
.recent-posts-container > .card{
  width: 90vw !important;
  padding: 10px !important;
  margin-left: -5vw;
}

.recent-post-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-post-link a{
  color: white;
 text-decoration: underline;
 font-style: italic;
}

