<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"> Test</div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>



    <div class="main-col">
      <div class="main row">
        <div class="col-lg-12 col-md-12">
          <div class="card card-coin card-plain">
            <div class="card-header card-title">
              <h1 class="profile-title text-center name">About Me</h1>
            </div>
            <div class="card-body">
              <p>I am a policy specialist and a student of politics. Officially my job is to make policies that are
                centered around human development. But really, my interest lies in the change that strategic policy can
                impact on society, empowering people and improving their well being whether it is in government,
                business operations or international development. Therefore, yes, I belong in all rooms but you will
                find me in the room I believe I am most impactful. Wherever I am, my priority will always be the good of
                the people. After 7 years working in a legislature, I transitioned to the corporate sector focusing on
                building relationships with governments and other institutions to spearhead public policy programs that
                promote public welfare and community engagement. Wherever I am, my priority will always be the good of
                the people.</p>
              <br><br>
              <p>
                Some say politics is in my blood but it doesn’t hurt to be in a classroom debating about political
                affairs with open minded, extremely intelligent individuals and professors. The freedom to articulate my
                thoughts and beliefs both verbally and on paper and be positively challenged on them excites me. I love
                defending my ideas. In a way it’s made me fearless to stand for what I believe in but also humbled me
                enough to admit there is always room for improvement. I have always found peace and belonging in the
                classroom and it feels great to be back as a student and I intend to stay on as a professor in the
                future. But at the end of the day aren’t we all perpetual students of life? We never stop learning.
                Leadership and learning are indispensable to each other - JFK. I believe even in heaven we will be
                learning at the feet of the Omniscient.
              </p>
              <br><br>
              <p>
                All in all, I am an Aquarius and my passions are a reflection of this. Like air, I lack a distinct form
                and often resist classification. I believe I can do anything I set my mind and heart to. I embrace my
                creativity and individuality and appreciate fun and innovative environments. I am a forward thinker, a
                risk taker and my actions are always guided by my desire to make the world a better place. I thrive in
                situations where I can be creative and inventive but can also assist, support and elevate others.
                There’s enough cake for everyone so why not let others have their slice? And if it runs out we can
                always bake another cake. I subscribe to the philosophy of compassionate leadership where leaders
                embrace a culture of kindness and service promoting equity and inclusion. That’s the type of leader I
                strive to be every single day. Your legacy lies in the lives you touched for better or for worse. If
                it’s to be it’s up to me! William H. Johnsen.

              </p>
              <br><br>

              <p>Finally, I don’t cook yet I have the appetite of a manual labourer. Remember to ask me how that is working out for me when and if we ever meet face to face.

              </p>

            </div>
          </div>

        </div>

      </div>



    </div>




  </div>
  <div class="main">

  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">BLK•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/creativetim"
              target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/creativetim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://dribbble.com/creativetim"
              target="_blank">
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>